<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:picon="http://picon.webquub.com/dtds/picon-xhtml.dtd"  
      xml:lang="en"  
      lang="en"> 
    <head>
    </head>
    <body>
        <picon:extend>
        <h2>Borders</h2>
        <p>A border works in the same way as a panel but does ont replace the origonal content of the HTML tag it
        is added to</p>
        <br />
        <p>The border mark-up: </p>
        <code>
            &lt;picon:border&gt;<br />
            &lt;h2&gt;border heading&lt;/h2&gt;<br />
            &lt;picon:body /&gt;<br />
            &lt;p&gt;other border content&lt;/p&gt;<br />
            &lt;/picon:border&gt;
        </code>
        <p>And in the composing class: </p>
        <code>
            &lt;h1&gt;heading&lt;/h1&gt;<br />
            &lt;div picon:id="myBorder"&gt;<br />
            Border content will wrap this content<br />
            &lt;/div&gt;<br />
            &lt;p&gt;other mark-up...&lt;/p&gt;
        </code>
        <p>Would be rendered as: </p>
        <code>
            &lt;h1&gt;heading&lt;/h1&gt;<br />
            &lt;div picon:id="myBorder"&gt;<br />
            &lt;h2&gt;border heading&lt;/h2&gt;<br />
            Border content will wrap this content<br />
            &lt;p&gt;other border content&lt;/p&gt;<br />
            &lt;/div&gt;<br />
            &lt;p&gt;other mark-up...&lt;/p&gt;
        </code>
        <br />
        <br />
        Sample border
        <div picon:id="border">Original content</div>
        </picon:extend>
    </body>
</html>
