<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:picon="http://picon.webquub.com/dtds/picon-xhtml.dtd"
	xml:lang="en" lang="en">
<head>
</head>
<body>
	<picon:extend>
		<h2>Markup Inheritance</h2>
		<p>Picon enables mark-up to be inherited in the same way as
			methods from parent classes. This is a useful way of creating global
			page layouts. For example, the MarkupInheritancePage class extends
			the AbstractPage class. Both classes have associated mark-up and with
			some special Picon mark-up tags, the two mark-up sources can be
			merged.</p>
		<br />
		<p>In the child class:</p>
		<code>
			&lt;picon:extend&gt;<br /> &lt;h2&gt;Sub class heading&lt;/h2&gt;<br />
			&lt;/picon:extend&gt;
		</code>
		<p>And in the parent class:</p>
		<code>
			&lt;h1&gt;Parent class heading&lt;/h1&gt;<br /> &lt;picon:child
			/&gt;<br /> &lt;p&gt;Rest of parent markup....&lt;/p&gt;
		</code>
		<p>Would be merged and rendered as:</p>
		<code>
			&lt;h1&gt;Parent class heading&lt;/h1&gt;<br /> &lt;h2&gt;Sub class
			heading&lt;/h2&gt;<br /> &lt;p&gt;Rest of parent
			markup....&lt;/p&gt;
		</code>
	</picon:extend>
</body>
</html>
